* {
    font-family: 'Roboto';
    border: solid 1px red;
}

html, body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
}

ul {
    display: flex;
    gap: 5px;
}

li {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
  max-width: none ;
  width: 100px ;
  height: auto ;
}


button {
    border: none;
    border-radius: 4px;
    background: #3882F6;
    width: 65px;
    height: 20px;
    color: white;
    font-size: 10px;
}



.header {
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    height: 50px;
    background-color: #1F2937;
    width: 100%;
    align-items: center;
    color: white;
    padding-left: 50px;
    gap: 500px;

}

.right {
    font-size: 10px;
    padding-right: 60px;
}

.sub-header {
    display: flex;
    background-color: #1F2937;
    color: white;
    justify-content: center;
    gap: 10px;
    padding-bottom: 50px;
    padding-top: 10px;
    margin: 0;
}

.text > * {
    margin: 0;
}

.text {
    display: flex;
    flex-direction: column;
    width: auto;
    gap: 5px;
}

.signup1 {
    padding-top: 5px;
}

.big-image {
    width: 200px;
    height: auto;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
}

.cards {
    display: flex;
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
    flex: auto;
    gap: 50px;
}

.photo-text {
    display: flex;
    max-width: 100px;
    text-align: center;
}

.quote {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: center;
    justify-content: center;
}

.quote-text {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    width: 100%;
    margin: 0;
    text-align: center;
}

.quote-author {
    margin: 0;
    align-self: flex-end;
    text-align: right;
    font-weight: bold;
    padding-right: 50px;
}

.pop-up {
    display: flex;
    justify-content: center;
    height: 120px;
    align-items: center;
    margin: 0;
    padding: 0;
}

.banner {
    background-color: #3882F6;
    height: 80px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0;
    padding: 0
}

.info {
    display: flex;
    flex-direction: column;
    color: white;
}

.biginfo {
    font-size: 15px;
}

.smallinfo {
    font-size: 7px;
    font-weight: 20;
}

.signup2 {
    border: solid 1px white;
    border-radius: 5px;
}

.footer {
    margin-top: auto;
    display: flex;
    justify-content: center;
    font-size: 10px;
    color: white;
    background-color: #1F2937;
    text-align: center;
    height: 40px;
    align-items: center;
    font-weight: 100;
}

